.sevice_item{
  padding: 20px;
  background: var(--card-bg-01);
  display: flex;
  align-items: center;
  column-gap: 0.7rem;
  border-radius: 5px;
  cursor: pointer

}


.sevice_item span i{
  font-size: 2.2rem;
  background: var(--primary-color);
  padding: 10px;
  border-radius: 50px;
  color: #fff;
  font-weight: 400 !important;
}

.sevice_item h3{
  color: var(--primary-color);
  font-size: 1.1rem;
  font-weight: 600;
}

.sevice_item p{
  font-size: 0.9rem;
  margin-top: 5px;
  color: #222;
}

.section_title{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
  color: var(--primary-color);
  font-weight: 500;
}  


@media only screen and (max-width:992px){
  .sevice_item{
    margin-bottom: 1.5rem;
    padding: 10px;

  }
  .sevice_item span i{
    font-size: 1.8rem;
    padding: 5px;
  }
  .sevice_item h3{
    font-size: 1rem;
  }

}

@media only screen and (max-width:768px){
  .sevice_item{
    margin-bottom: 1.5rem;
  }
  .sevice_item span i{
    font-size: 1.5rem;
    padding: 5px;
  }


}

@media only screen and (max-width:576px){
  .sevice_item span i{
    font-size: 1.8rem;
    padding: 5px;
  }


}